<pre>
<samp><span class="prompt">virtualroot@deepset:~$</span> <kbd>whoami</kbd>
<a href="https://virtualroot.dev">virtualroot</a>
<a href="https://linkedin.com/in/virtualroot">resume</a>

<span class="prompt">virtualroot@deepset:~$</span> <kbd>id -Gn</kbd>
alpine debian gentoo openbsd golang kubernetes coffee mechanicalkeyboard leagueoflegends sociotechnical-systems

<span class="prompt">virtualroot@deepset:~$</span> <kbd>deepset --help</kbd>

deepset — We make machines understand language so that humans can achieve more.

USAGE:
    deepset [SUBCOMMAND] [OPTIONS]

DESCRIPTION:
    deepset's mission is to make custom AI accessible to every organization,
    empowering businesses to solve critical challenges with secure, scalable,
    and innovative solutions.

SUBCOMMANDS:
    <a href="https://haystack.deepset.ai/">haystack</a>
        Description:
            The flagship open-source Python framework for AI orchestration
            and building custom LLM applications. It lets developers assemble
            modular pipelines for tasks such as QA, semantic search, RAG,
            summarization, text generation, document processing, agents, etc.

    <a href="https://www.deepset.ai/products-and-services/haystack-enterprise-platform/">enterprise</a>
        Description:
            Enterprise platform extending Haystack with managed tooling 
            and infrastructure. Provides collaboration, workflow 
            management, evaluation, monitoring, governance, templates 
            and deployment workflows to accelerate enterprise AI.

        Options may include:
            --<a href="https://www.deepset.ai/haystack-enterprise-platform-trial/">trial</a>          Start an enterprise platform trial.
            --<a href="https://www.deepset.ai/products-and-services/haystack-enterprise-platform/">cloud</a>          Managed Enterprise Platform.
            --<a href="https://www.deepset.ai/products-and-services/haystack-enterprise-platform/">selfHosted</a>     Deploy the Platform in your environment.

<span class="prompt">virtualroot@deepset:~$</span> <kbd>deepset jobs</kbd>
{{ range (datasource "jobs").position }}
{{- if or (strings.Contains "Engineer" .name) (strings.Contains "Advocate" .name) }}
• <a href="https://deepset.jobs.personio.de/job/{{ .id}}?language=en&display=en">{{ .name | strings.TrimSpace }}</a>
{{- end }}
{{- end }}

<span class="prompt">virtualroot@deepset:~$</span> <span class="cursor">█</span></samp></pre>
